body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */
.navbar-custom {
  background: linear-gradient(to right, rgb(135, 211, 236), lightpink);
  color: white;
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .navbar-brand {
  color: white;
}

.navbar-custom .navbar-toggler-icon {
  background-color: white;
}

